<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <title>JetCraft</title>
    <link rel="stylesheet" href="/styles/base.css" />
</head>
<body>
    <script src="/socket.io/socket.io.js"></script>
    <script src="/scripts/shared.js"></script>
    <script src="/scripts/client.js"></script>
    <header>
        <h1>JetCraft</h1>
        <p>Click around you to start digging</p>
    </header>
    <iframe style="position: absolute; bottom: 20px; left:20px; z-index: 100000;" src="http://nodeknockout.com/iframe/the-entire-russian-a" frameborder=0 scrolling=no allowtransparency=true width=115 height=25></iframe>
</body>
</html>